/* | Variables |
============================================= */


$base-font-family: 'Open Sans', sans-serif;
$secondary-font-family: 'Open Sans', sans-serif;

// colors
$white: #FFF;
$black: #000;
$grey-bg: #F8FAFB;
$grey-two-bg: #E4EAEE;

$color-primary: #0069B4;
$color-secondary: #F18800;
$color-tertiary: #71B6EF;

$green: #4B830E;
$red: #D0021B;
$orange: #F18800;

$color-icons-active: #EE2534;

// text colors
$text-color-primary: #666666;
$text-color-secondary: #AAAAAA;
$text-color-white: #fff;

// text sizes
$text-h1: 4rem;
$text-h2: 4rem;
$text-p: 1.8rem;
