::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #fff;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #fff;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #fff;
}
.hidden-xs{
	@include respond-to(phone){
		display: none !important;
	}
}
body.starting-sections{
	background-color: #333;
	background-image: url(../img/bg1.png);
	background-repeat: no-repeat;
	background-attachment: fixed;
	height: 100vh;
	background-size: cover;
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	&.register{
		background-image: url(../img/bg2.png);
		#footer-wrapper{
			display: none;
		}
	}
	&.interessi{
		background-image: url(../img/bg3.png);
		#footer-wrapper{
			display: none;
		}
	}
	&.abbonamento{
		background-image: url(../img/bg4.png);
		#footer-wrapper{
			display: none;
		}
	}
	&.tipo{
		background-image: url(../img/bg5.png);
		#footer-wrapper{
			display: none;
		}
	}
	#header{
		display: none;
	}
	.land-cont{
		height: calc(100vh - 70px);
		min-height: 500px;
	}
	.log-cont{
		margin-top: 20vh;
		@include respond-to(phone){
		    padding-bottom: 20vh;
		}
		.logo{
			text-align: center;
			margin-bottom: 30px;
			img{
				display: inline;
				max-height: 30px;
			}
		}
	}
	.section2{
		background: #38a496;
		background: -moz-linear-gradient(top, #38a496 0%, #265a91 100%);
		background: -webkit-linear-gradient(top, #38a496 0%,#265a91 100%);
		background: linear-gradient(to bottom, #38a496 0%,#265a91 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#38a496', endColorstr='#265a91',GradientType=0 );
		padding-top: 150px;
		padding-bottom: 100px;
		position: relative;
		.whatis{
			position: absolute;
			top: 0px;
			left: 0px;
			width: 100%;
			text-align: center;
			padding: 25px 0;
			background: #38a496;
			background: -moz-linear-gradient(top, #38a496 0%, #265a91 100%);
			background: -webkit-linear-gradient(top, #38a496 0%,#265a91 100%);
			background: linear-gradient(to bottom, #38a496 0%,#265a91 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#38a496', endColorstr='#265a91',GradientType=0 );
			font-size: 16px;
			font-weight: bold;
		}
		.infotext{
			display: block;
			padding-top: 30px;
			position: relative;
			&:before{
				content:"";
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 3px;
				background-color: #fff;
			}
		}
		&.second{
			background: url(../img/10.png);
			padding-top: 100px;
			padding-bottom: 80vh;
			.infotext{
				color: #000;
				&:before{
					background-color: #000;
				}
			}
		}
		&.third{
			background: url(../img/15.png);
			padding-top: 100px;
			padding-bottom: 80vh;
			.infotext{
				color: #000;
				&:before{
					background-color: #000;
				}
			}
		}
		.boxes{
			.box{
				width: calc(50% - 8px);
				float: left;
				margin-right: 15px;
				margin-bottom: 15px;
				img{
					width: 100%;
				}
				&:nth-child(even){
					margin-right: 0px;
				}
			}
			&:after{
				content:"";
				display: block;
				clear: both;
			}
		}
	}
	form{
		input{
			background: transparent !important;
			padding: 14px !important;
			border-radius: 12px !important;
			border: 1px solid #fff !important;
			width: 100% !important;
			color: #fff !important;
			font-size: 16px;
		}
		input[type="submit"]{
			background-color: rgba(255,255,2555,0.5) !important;
			color: #fff !important;
			border: 0px !important;
			font-size: 16px !important;
			text-shadow: 0 !important;

		}
		input[type="button"]{
			background: none !important;
			background-color: rgba(255,255,2555,0.5) !important;
			width: 100%;
			display: block;
			color: #fff;
			border: 0px  !important;
			padding: 14px;
			border-radius: 12px;
			text-shadow: 0px;
			font-size: 16px;
			font-weight: 100;
			&:hover{
				color: #fff;
				text-shadow: 0px;
			}
		}
		ul{
			list-style-type: none;
			text-align: center;
			li{
				padding: 0px;
				margin: 0;
				a{
					color: #fff;
					font-size: 12px;
					padding: 3px 0;
				}
			}
		}
	}
	.user-info-from-cookie{
		.form-item-mail{
			.description{
				display: none;
			}
		}
		.form-type-password-confirm{
			.form-item{
				width: 100%;
				div.password-confirm, .password-strength{
					display: none;
				}
			}
			.description{
				display: none;
			}
		}
		.form-item-pass-pass2{
			margin-top: 15px;
		}
	}
	.field-name-field-interessi, .field-name-field-abbonamento{
		text-align: center;
	}
	.form-item-field-interessi-und, .form-type-radios{
		text-align: center;
		.form-required{
			display: none;
		}
	}
	#edit-field-interessi-und--2{
		text-align: left;
		width: calc(100% + 40vw);
		margin-left: -20vw;
		margin-top: 50px;
		margin-bottom: 50px;
		@include respond-to(mediumscreens){
			width: calc(100% + 50vw);
			margin-left: -25vw;
		}
		@include respond-to(tablet){
			width: calc(100% + 60vw);
			margin-left: -30vw;
		}
		@include respond-to(phone){
			width: 100%;
			margin-left: 0;
		}
		.form-item {
			width: calc(25% - 15px);
			display: block;
			float: left;
			border: 1px solid #fff;
			margin-right: 15px;
			border-radius: 15px;
			position: relative;
			padding: 15px;
			@include respond-to(phone){
				width: 100%;
				margin-right: 0;
			}
			&.selected{
				background-color: rgba(255,255,255,0.5);
				&:before{
					content: '\e5ca';
					position: absolute;
					font-family: 'Material Icons';
					top: 15px;
	  				right: 15px;
	  				color: #fff;
	  				font-size: 20px;
				}
			}
			input[type="checkbox"]{
				position: absolute;
				cursor: pointer;
				height: 100%;
				width: 100%;
				left: 0;
				top: 0;
				opacity: 0;
			}
			&:hover{
			  background-color: rgba(255,255,255,0.5);
			}
			&input:checked{
				background-color: rgba(255,255,255,0.5);
			}
		}
		&:after{
			content:"";
			display: block;
			clear: both;
		}
	}
	#edit-field-abbonamento-und--2{
		width: calc(100% + 40vw);
		margin-left: -20vw;
		margin-top: 50px;
		margin-bottom: 50px;
		@include respond-to(mediumscreens){
			width: calc(100% + 50vw);
			margin-left: -25vw;
		}
		@include respond-to(tablet){
			width: calc(100% + 60vw);
			margin-left: -30vw;
		}
		@include respond-to(phone){
			width: 100%;
			margin-left: 0;
		}
		.form-item {
			width: calc(25% - 15px);
			display: block;
			float: left;
			border: 1px solid #fff;
			margin-right: 15px;
			border-radius: 15px;
			padding: 30px 15px 70px 15px;
			position: relative;
			@include respond-to(phone){
				width: 100%;
				margin-right: 0;
			}
			label{
				font-size: 50px;
				font-weight: bold;
				&:after{
					content:"mesi";
					font-size: 20px;
					position: absolute;
					bottom: 40px;
					width: 100%;
					text-align: center;
					left: 0;
				}
			}
			&.selected{
				background-color: rgba(255,255,255,0.5);
				&:before{
					content: '\e5ca';
					position: absolute;
					font-family: 'Material Icons';
					top: 15px;
	  				right: 15px;
	  				color: #fff;
	  				font-size: 20px;
				}
			}
			input[type="radio"]{
				position: absolute;
				cursor: pointer;
				height: 100%;
				width: 100%;
				left: 0;
				top: 0;
				opacity: 0;
			}
			&:hover{
			  background-color: rgba(255,255,255,0.5);
			}
			&input:checked{
				background-color: rgba(255,255,255,0.5);
			}
		}
		&:after{
			content:"";
			display: block;
			clear: both;
		}
	}
	#edit-field-tipo-und--2{
		width: calc(100% + 40vw);
		margin-left: -20vw;
		margin-top: 50px;
		margin-bottom: 50px;
		@include respond-to(mediumscreens){
			width: calc(100% + 50vw);
			margin-left: -25vw;
		}
		@include respond-to(tablet){
			width: calc(100% + 60vw);
			margin-left: -30vw;
		}
		@include respond-to(phone){
			width: 100%;
			margin-left: 0;
		}
		text-align: center;
		.form-item {
			width: calc(33% - 8px);
			display: block;
			float: left;
			border: 1px solid #fff;
			margin-right: 15px;
			border-radius: 15px;
			position: relative;
			padding: 30px 15px 70px 15px;
			position: relative;
			@include respond-to(phone){
				width: 100%;
				margin-right: 0;
			}
			label{
				font-size: 30px;
				font-weight: bold;
				&:after{
					content:"fino ad un massimo di 5 opere";
					font-size: 16px;
					font-weight: 100;
					line-height: 20px;
					position: absolute;
					bottom: 40px;
					width: 100%;
					text-align: center;
					left: 0;
				}
			}
			&:first-child{
				label{
					&:after{
						content:"fino ad un massimo di 3 opere";
					}
				}
			}
			&:last-child{
				margin-right: 0px;
				label{
					&:after{
						content:"fino ad un massimo di 10 opere";
					}
				}
			}
			&.selected{
				background-color: rgba(255,255,255,0.5);
				&:before{
					content: '\e5ca';
					position: absolute;
					font-family: 'Material Icons';
					top: 15px;
	  				right: 15px;
	  				color: #fff;
	  				font-size: 20px;
				}
			}
			input[type="radio"]{
				position: absolute;
				cursor: pointer;
				height: 100%;
				width: 100%;
				left: 0;
				top: 0;
				opacity: 0;
			}
			&:hover{
			  background-color: rgba(255,255,255,0.5);
			}
			&input:checked{
				background-color: rgba(255,255,255,0.5);
			}
		}
		&:after{
			content:"";
			display: block;
			clear: both;
		}
	}
	.multipage-counter{
		display: none;
	}
	.multipage-button{
		width: 100%;
	}
	.multipage-pane-title{
		display: none;
	}
	.multipage-link-previous{
		display: none !important;
	}
	.password-suggestions{
		display: none !important;
	}
}
.node-webform{
	.meta{
		display: none;
	}
	.form-opere{
		.title-opere{
			font-weight: bold;
			font-size: 24px;
		}
		ul{
			list-style-type: none;
			li{
				display: block;
				width: calc(50% - 15px);
				float: left;
				margin: 10px 7.5px 0 7.5px;
				@include respond-to(phone){
					width: 100%;
					float: none;
					margin: 10px 0px 0 0px;
				}
				&:last-child{
					width: 100%;
					text-align: center;
				}
				.form-actions{
					input{
						background-color: #38a496;
						border: 0px;
						border-radius: 30px;
						padding: 10px 20px;
						color: #fff;
						text-align: center;
						margin-bottom: 15px;
						font-size: 16px;
					}
				}
				.form-item{
					label{
						display: block !important;
					    overflow: visible !important;
					    height: 20px;
					    color: #000;
					    clip: inherit;
					    font-size: 16px;
					    margin-bottom: 20px;
					    span{
					    	display:none;
					    }
					}
					input[type="text"]{
						width: 100%;
						padding: 10px;
						border-radius: 30px;
						border: 1px solid #ddd;
						margin-top: 40px;
    					display: inline-block;
					}
					input[type="email"]{
						width: 100%;
						padding: 10px;
						border-radius: 30px;
						border: 1px solid #ddd;
						margin-top: 40px;
    					display: inline-block;
					}
					.form-managed-file{
						input[type="file"]{
							border: 1px solid #ddd;
						    border-radius: 0px;
						    padding: 20px;
						    text-align: center;
						    margin-bottom: 15px;
						    font-size: 16px;
						    width: 100%;
						}
						input[type="submit"]{
							background-color: #38a496;
						    border: 0px;
						    border-radius: 30px;
						    padding: 10px 20px;
						    color: #fff;
						    text-align: center;
						    margin-bottom: 15px;
						    font-size: 16px;
						}
					}
					.description{
						font-size: 14px;
					}
				}
			}
		}
	}
}
body:not(.starting-sections){
	padding-top: 100px !important;
	#content.column{
		width: 100%;
		p{
			text-align: center;
		}
	}
	.home-mostre{
		margin-bottom: 80px;
		.tab-select{
			width: calc(100% - 15px);
			margin-left: 7.5px;
			border: 2px solid #38A498;
			border-radius: 10px;
			overflow: hidden;
			margin-bottom: 30px;
			.tablinks{
				width: 50%;
				text-align: center;
				color: #38A498;
				padding: 3px 0;
				display: block;
				float: left;
				&.active{
					color: #fff;
					background: -moz-linear-gradient(top, #38a496 0%, #265a91 100%);
					background: -webkit-linear-gradient(top, #38a496 0%,#265a91 100%);
					background: linear-gradient(to bottom, #38a496 0%,#265a91 100%);
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#38a496', endColorstr='#265a91',GradientType=0 );
				}
				&:hover{
					text-decoration: none;
				}
			}
		}
		.tabcontent{
			&.not-vis{
				display: none;
			}
			ul{
				list-style-type: none;
				padding: 0;
				display:block;
				&:after{
					content:"";
					display: block;
					clear: both;
				}
				a{
					display: block;
					width: calc(33% - 15px);
					height: 350px;
					margin: 0px 7.5px 15px 7.5px;
					float: left;
					overflow: hidden;
					position: relative;
					border-radius: 8px;
					h3{
						position: absolute;
						bottom: 25px;
						left: 25px;
						opacity: 0;
						color: #fff;
						z-index: 2;
						display: block;
						width: calc(100% - 50px);
						@include transition-all();
						&:after{
							content: "";
						    position: absolute;
						    opacity: 0.5;
						    width: 100%;
						    height: 2px;
						    background-color: #fff;
						    left: 0;
						    top: -10px;
						}
					}
					img{
						height: 100%;
						width: auto;
						@include center(x);
					}
					&:hover{
						h3{
							opacity: 1;
						}
					}
					&:after{
						content: "";
						position: absolute;
						left: 0;
						top: 0;
						width: 100%;
						height: 100%;
						z-index: 1;
						background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.43) 100%);
						background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.43) 100%);
						background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.43) 100%);
						filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#6e000000',GradientType=0 );
					}
				}
			}
		}
	}
	&.page-user-orders-{
		.action-links{
			display: none;
		}
		.view-commerce-line-item-table{
			margin-bottom: 50px;
			&:before{
				content:"Dettaglio della mostra";
				font-weight: bold;
				font-size: 25px;
				display: block;
				margin-bottom: 20px;
				margin-left: 8px;
			}
			table{
				display: block;
				width: 100%;
			}
			tbody{
				display: block;
				width: 100%;
				border: 0;
				&:after{
					content:"";
					display: block;
					clear: both;
				}
			}
			tr{
				display: block;
				width: calc(33% - 15px);
				margin: 0 7.5px;
				float: left;
				padding: 0;
				border: 0;
				td{
					padding: 0;
					display: block;
					width: 100%;
					img{
						width: 100%;
						height: auto;
					}
				}
			}
		}
	}
	.view-commerce-user-orders{
		table.views-table{
			width: 100%;
			tr{
				td{
					background: #fff;
					padding: 15px;
					input[type="submit"]{
						background-color: #38a496;
					    border: 0px;
					    border-radius: 30px;
					    padding: 10px 20px;
					    color: #fff;
					    text-align: center;
					}
				}
				th{
					padding: 15px;
					a{
						color: #000;
					}
				}
			}
		}
		#edit-actions{
			display: none;
		}
	}
	.checkout_completion_message{
		position: relative;
		margin-top: 15vh;
		padding-top: 100px;
		p:first-child{
			&:before{
				content: "Grazie per il tuo ordine, verrai contattato per maggiori dettagli sulla spedizione.";
				display: block;
				margin-bottom: 15px;
			}
		}
		&:after{
			content:"";
			width: 160px;
			height: 40px;
			background-image: url(../img/fotorent_color.png);
			background-size: contain;
			background-repeat: no-repeat;
			position: absolute;
			top: 30px;
			@include center(x);
		}
	}
	#commerce-checkout-form-review{
		.checkout-help{
			font-size: 1.5rem;
			margin-bottom: 15px;
		}
		table.checkout-review{
			width: 100%;
			.pane-data-full{
				padding: 25px;
			}
			td{
				padding: 15px;
				background-color: #fff;
			}
			table.views-table{
				width: 100%;
				th{
					padding: 15px;
					background-color: #ddd;
				}
			}
		}
		#edit-commerce-payment{
			legend{
				span{
					margin-top: 20px;
					display: block;
					font-weight: bold;
				}
			}
		}
		input.checkout-continue{
			background-color: #38a496;
			border: 0px;
			border-radius: 30px;
			padding: 10px 20px;
			color: #fff;
			text-align: center;
			margin-top: 20px;
			margin-bottom: 30px;
			margin-right: 20px;
		}
	}
	table.commerce-price-formatted-components{
		display: none;
	}
	#commerce-checkout-form-checkout{
		width: 100%;
		legend{
			span{font-weight: bold;}
		}
		.view-content{
			table.views-table{
				margin-bottom: 30px;
				width: 100%;
				.views-field {
					padding: 15px;
					background-color: #fff;
				}
			}
		}
		.view-footer{
			table.commerce-price-formatted-components{
				border: 0px;
				td{
					padding: 10px;
				}
			}
		}
		input.checkout-continue{
			background-color: #38a496;
			border: 0px;
			border-radius: 30px;
			padding: 10px 20px;
			color: #fff;
			text-align: center;
			margin-top: 20px;
			margin-bottom: 30px;
			margin-right: 20px;
		}
		#addressfield-wrapper{
			.chosen-container{
				display: block !important;
				width: 100% !important;
				margin-top: 20px;
				.chosen-single{
					padding: 20px;
				    background: none;
				    background-color: #fff;
				    border-radius: 30px;
				    line-height: 0px;
				    border: 1px solid #ddd;
				    box-shadow: none;
				    span{
				    	overflow: visible;
				    }
				    div{
				    	b{
				    		background: url(chosen-sprite.png) no-repeat 0px 10px;
				    	}
				    }
				}
				.chosen-drop{
					background-color: #efefef;
					padding: 20px;
					border: 0px;
				}
			}
			input[type="text"]{
				padding: 10px;
				width: 50%;
				border-radius: 30px;
				border: 1px solid #ddd;
			}
			.form-item{
				display: block;
				width: calc(50% - 15px);
				float: left;
				margin: 10px 7.5px 0 7.5px;
				@include respond-to(phone){
					width: 100%;
					float: none;
					margin: 10px 0px 0 0px;
				}
				label{
					height: 20px;
    				position: static !important;
				}			
				input{
					width: 100%;
				}
			}
		}
	}
	.profile{
		padding-top: 120px;
		.field{
			padding-top: 15px;
			padding-bottom: 15px;
			border-bottom: 1px solid #ddd;
			.field-label{
				text-transform: capitalize;
			}
		}
		h3, dl{
			display: none;
		}
	}
	.user-picture{
		text-align: center;
		width: 100%;
		a{
			display: inline-block;
			border-radius: 50%;
			width: 120px;
			height: 120px;
			margin-bottom: 20px;
			background-color: #ddd;
			overflow: hidden;
			img{
				width: 100%;
			}
		}
	}
	.blocks-home{
		padding: 50px 0;
		@include respond-to(phone){
			padding: 0 15px;
		}
	}
	.miemostre-link{
		height: 500px;
		margin-bottom: 20px;
		background-color: grey;
		position: relative;
		border-radius: 5px;
		background-image: url(../img/bg1.png);
		background-size: cover;
		position: relative;
		display: inline-block;
		overflow: hidden;
		&:after{
			content: "";
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			z-index: 1;
			background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.43) 100%);
			background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.43) 100%);
			background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.43) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#6e000000',GradientType=0 );
		}
		span{
			display: block;
			position: absolute;
			bottom: 15px;
			left: 30px;
			color: #fff;
			z-index: 2;
		}
	}
	.extra-link{
		height: 240px;
		margin-bottom: 20px;
		background-color: grey;	
		position: relative;
		border-radius: 5px;
		background-image: url(../img/bg2.png);
		background-size: cover;
		display: block;
		overflow: hidden;
		&.disabled{
			opacity: 0.3;
			pointer-events: none;
		}
		&:after{
			content: "";
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			z-index: 1;
			background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.43) 100%);
			background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.43) 100%);
			background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.43) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#6e000000',GradientType=0 );
		}
		span{
			display: block;
			position: absolute;
			bottom: 15px;
			left: 30px;
			color: #fff;
			z-index: 2;
		}

	}
	.offerte-link{
		height: 240px;
		background-color: grey;
		position: relative;
		border-radius: 5px;
		background-image: url(../img/bg3.png);
		background-size: cover;
		display: block;
		overflow: hidden;
		opacity: 0.3;
		pointer-events: none;
		&:after{
			content: "";
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			z-index: 1;
			background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.43) 100%);
			background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.43) 100%);
			background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.43) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#6e000000',GradientType=0 );
		}
		span{
			display: block;
			position: absolute;
			bottom: 15px;
			left: 30px;
			color: #fff;
			z-index: 2;
		}
	}
	.tuttemostre-link{
		height: 350px;
		background-color: grey;
		position: relative;
		border-radius: 5px;
		background-image: url(../img/bg4.png);
		background-size: cover;
		display: block;
		&:after{
			content: "";
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			z-index: 1;
			background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.43) 100%);
			background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.43) 100%);
			background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.43) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#6e000000',GradientType=0 );
		}
		span{
			display: block;
			position: absolute;
			bottom: 15px;
			left: 30px;
			color: #fff;
			z-index: 2;
		}
	}
	.no-right-padding{
		padding-right: 0px;
		@include respond-to(phone){
			padding-left: 0px;
		}
	}
	.view-commerce-cart-form{
		form#views-form-commerce-cart-form-default{
			&:before{
				content:"La mia mostra";
				font-size: 25px;
				font-weight: bold;
				display: block;
				margin-bottom: 25px;
			}
			table{
				width: 100%;
				td{
					padding: 15px;
					background: #fff;
					input.delete-line-item{
						background-color: #38a496;
						border: 0px;
						border-radius: 30px;
						padding: 10px 20px;
						color: #fff;
						text-align: center;
					}
				}
				th{
					padding: 10px;
				}
			}
			.line-item-summary{
				margin-top: 10px;
			}
			.form-actions{
				input{
					background-color: #38a496;
					border: 0px;
					border-radius: 30px;
					padding: 10px 20px;
					color: #fff;
					text-align: center;
					margin-left: 15px;
				}
			}
		}
	}
	.views-exposed-form{
		.views-exposed-widgets{
			.views-widget-filter-field_categorie_tid{
				padding-left: 20px;
				&>label{
					text-transform: uppercase;
				}
				.bef-checkboxes{
					.form-item{
						margin-bottom: 5px;
						label{
							margin-left: 10px;
							position: relative;
							&:after{
								content:"";
								width: 20px;
								height: 20px;
								border: 1px solid #ddd;
								background-color: #fff;
								position: absolute;
								left: -30px;
								top: 0px;
								text-align: center;
								line-height: 18px;
								color: #38a496;
							}
							&:hover{
								&:after{
									background-color: #38a496;
								}
							}
						}
					}
					.form-item input:checked ~ label:after {
						content: "✓";
					}
				}
			}
			.views-widget-filter-field_artista_tid{
				padding-left: 20px;
				&>label{
					text-transform: uppercase;
				}
				.form-type-select{
					position: relative;
					&:after{
						content:'\e313';
						font-family: 'Material Icons';
						position: absolute;
						right: 10px;
						top: 10px;
						font-size: 25px;
					}
				}
				select{
					width: 100%;
					padding: 15px;
					border: 1px solid #ddd;
					display: block;
					background-color: #fff;
					-webkit-appearance: none;
				}
			}
			.views-submit-button{
				input{
					margin-top: 30px;
					background-color: #38a496;
				    border: 0px;
				    border-radius: 30px;
				    padding: 10px 20px;
				    color: #fff;
				    text-align: center;
				}
			}
		}
	}
	.view-categorie{		
		margin-bottom: 50px;
		margin-top: 50px;
		&:after{
			content:"";
			display: block;
			clear: both;
		}
		.views-row{
			width: calc(33% - 15px);
			margin-left: 7.5px;
			margin-right: 7.5px;
			position: relative;
			float: left;
			margin-bottom: 15px;
			overflow: hidden;
			border-radius: 9px;
			overflow: hidden;
			@include respond-to(tablet){
				width: calc(50% - 15px);
			}
			@include respond-to(phone){
				width: 100%;
				margin-left: 0px;
				margin-right: 0px;
			}
			.views-field-product-id{
				display: none;
			}
			.views-field-field-gallery{
				span{
					display: none;
				}
				.field-content{
					img{
						height: 100%;
					    position: absolute;
					    width: auto;
					    z-index: -1;
					}
				}
			}
			.views-field-add-to-cart-form{
				opacity: 0;
				@include transition-all;
				.views-label{
					display: none;
				}
				.field-content{
					position: absolute;
					text-align: center;
					@include center(xy);
					input[type="submit"]{
						background-color: #38a496;
						border: 0px;
						border-radius: 30px;
						padding: 10px 20px;
						color: #fff;
						text-align: center;
						margin-left: 15px;
						&.form-button-disabled{
							opacity: 0.4;
						}
					}
				}
			}
			&:hover{
				.views-field-add-to-cart-form{
					opacity: 1;
				}
			}
		}
	}
}