::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #fff;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #fff;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #fff;
}
body.starting-sections{
	background-color: #333;
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	#header{
		display: none;
	}
	.log-cont{
		margin-top: 20vh;
		.logo{
			text-align: center;
			margin-bottom: 20px;
			img{
				display: inline;
			}
		}
	}
	form{
		input{
			background: transparent;
			padding: 14px;
			border-radius: 12px;
			border: 1px solid #fff;
			width: 100%;
			color: #fff;
			font-size: 16px;
		}
		input[type="submit"]{
			background-color: rgba(255,255,2555,0.5);
			color: #fff;
			border: 0px;
		}
		input[type="button"]{
			background: none;
			background-color: rgba(255,255,2555,0.5);
			width: 100%;
			display: block;
			color: #fff;
			border: 0px;
			padding: 14px;
			border-radius: 12px;
			text-shadow: 0px;
			font-size: 16px;
			font-weight: 100;
			&:hover{
				color: #fff;
				text-shadow: 0px;
			}
		}
		ul{
			list-style-type: none;
			text-align: center;
			li{
				padding: 0px;
				margin: 0;
				a{
					color: #fff;
					font-size: 12px;
					padding: 3px 0;
				}
			}
		}
	}
	.user-info-from-cookie{
		.form-item-mail{
			.description{
				display: none;
			}
		}
		.form-type-password-confirm{
			.form-item{
				width: 100%;
				div.password-confirm, .password-strength{
					display: none;
				}
			}
			.description{
				display: none;
			}
		}
		.form-item-pass-pass2{
			margin-top: 15px;
		}
	}
	#edit-field-interessi-und--2{
		width: calc(100% + 40vw);
		margin-left: -20vw;
		.form-item {
			width: calc(25% - 15px);
			display: block;
			float: left;
			border: 1px solid #fff;
			margin-right: 15px;
			border-radius: 15px;
			position: relative;
			padding: 15px;
			input[type="checkbox"]{
				position: absolute;
				cursor: pointer;
				height: 100%;
				width: 100%;
				left: 0;
				top: 0;
				opacity: 0;
			}
			&:after{
				content: '\e5ca';
				position: absolute;
				font-family: 'Material Icons';
				top: 15px;
  				right: 15px;
  				color: #fff;
  				font-size: 20px;
			}
			&:hover{
			  background-color: rgba(255,255,255,0.5);
			}
			&input:checked{
				background-color: rgba(255,255,255,0.5);
			}
		}
	}
	.multipage-counter{
		display: none;
	}
	.multipage-button{
		width: 100%;
	}
	.multipage-pane-title{
		display: none;
	}
	.multipage-link-previous{
		display: none !important;
	}
	.password-suggestions{
		display: none !important;
	}
}